h1  {
    text-align: center;
    text-decoration: underline;
    font-style: oblique;
    font-weight: lighter;
    font-size: 50px;
    text-decoration-color: rgb(42, 190, 190);
}

/* p {
    text-align: center;
    text-decoration: underline;
    font-style: oblique;
    font-weight: lighter;
    font-size: 30px;
    text-decoration-color: rgb(42, 190, 190);
} */

.root {
    box-sizing: border-box;
    
}

body {
    background-color: rgb(240, 237, 227);
}

#game {
    background-color: salmon;
    height: 500px;
    display: flex;
}

.tower {
    border: 1px solid black;
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}



.disc {
    height: 100px;
    /* border: 1px solid black; */
    border-radius: 30%; 
}


#disc1 {
   border: 1px solid black;
   width: 50%;
   background-color: white;
   display: flex;
   /* background-color: rgb(245, 245, 72); */
   
}

#disc2 {
    border: 1px solid black;
    width: 60%;
    background-color: black;
    display: flex;
    /* background-color: rgb(60, 160, 60); */
}

#disc3 {
    border: 1px solid black;
    width: 70%;
    background-color: white;
    display: flex;
    /* background-color: rgb(79, 79, 206); */
 }
 
 #disc4 {
    border: 1px solid black;
    width: 80%;
    background-color: black;
    display: flex;
    
    /* background-color: rgb(153, 65, 153); */
 } 

.hold {
    width: 33%;
    display: flex;
    border-radius: 25%;
    background-color: rgb(42, 190, 190);
    justify-content: center;
  }